/* GLOBAL */
:root {
 --font-family: 'Hershey Noailles Times';
 --nav-font: 'Hershey Noailles Futura';
 --display-font: 'Hershey Noailles';
 --primary-color: #FFF8F3;
 --secondary-color: #FF0000;
  --thin-border: 1.5px solid var(--secondary-color)
}

/* RESETS */
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus {
	outline: none;
}

::selection {
	background-color: var(--secondary-color);
	color: white;
}

ul {
	list-style-type: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

/* 
img {
  width: 100%;
} 

*/
p, .content li {
  font-size: 1.7rem;
}


/* LAYOUT */

body {
	font-family: var(--font-family);
  background-color: var(--primary-color);
  
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 5fr 1fr;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;

  scrollbar-width: none; 
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  overflow: -moz-scrollbars-none;
}

::-webkit-scrollbar {
  display: none;
}

.header {
  grid-row: 1/2;
  grid-column: 1/3;
  padding-bottom: 4rem;
}

.content{
  grid-row: 2/3;
  grid-column: 2/3;
  /* overflow: auto; */
}

.title {
  font-family: var(--display-font);
  font-size: 1.8rem;
}

nav {
  grid-row: 2/3;
  grid-column: 1/2;

  font-family: var(--nav-font);
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 1.5px;

  position: sticky;
  top: 20;
}

nav li {
  line-height: 1.5;
  margin-bottom: 1.1rem;
}

nav li.subitem {
  margin-left: 1.1rem;
}


nav a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 4px;
  text-decoration-color:var(--secondary-color);
}

nav a.active {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 4px;
  text-decoration-color:var(--secondary-color);
}

/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
  font-family: var(--font-family);
}

/* ELEMENTS */

.blur {
  position: absolute;
  width: 200px;
  height: 200px;
  opacity: 0;
  border-radius: 50%;
  background-color: #FFE2E7;
  pointer-events: none;
  filter: blur(30px);
  transition: opacity 1s ease;
  z-index: -100;
  will-change: transform;
}

/* PAGES */
.content {
  padding-right: 2rem;
}

.about p, .research p, .research li, .about li {
  line-height: 1.1;
  font-style: normal;
  margin-bottom: 0.5rem;
}

.about ul, .research ul {
  list-style: inside;
}

.about, .book {
  display: flex;
  margin-bottom: 2rem;
}

.about .photo-col, .book .photo-col {
  margin-right: 2.5rem;
  max-width: 300px;
}

.photo-col img {
  object-fit: contain;
  width: inherit;
}

.profile {
  border: var(--thin-border);
  padding: 0.5rem;
  max-height: 300px;
  /* margin-top: 1rem; */
}

.about figcaption {
  font-family: var(--nav-font);
  margin-top: 3px;
  margin-bottom: 2rem;
}

.research img {
  max-width: 150px;
  border: var(--thin-border);
  padding: 0.35rem;
  max-height: 300px;
  margin-top: 1rem;
}

.landing {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-img {
  padding: 0.5rem;
  border: var(--thin-border);
  max-height: 300px;
}

.landing a:hover figcaption {
  color: var(--secondary-color);
}

.landing figcaption {
  line-height: 1;
  text-align: center;
  padding: 10px;
  padding-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-family: 'Hershey Noailles Futura';
  font-size: 1.1rem;
}

.writing {
  margin-bottom: 2.4rem;
}
.writing li {
  margin-bottom: 1rem;
}

.content a {
  text-decoration: none;
}

.writing span.publisher {
  font-style: italic;
}

.content a:hover .link_title, .research a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 4px;
  text-decoration-color: var(--secondary-color)
}

.writing h3, .book h3 {
  font-family: var(--nav-font);
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 1.5px;
  
  margin-bottom: 1rem;
}

.book h2 {
  font-size: 2rem;
  font-family: var(--display-font);
  padding-bottom: 2rem;
}

.book p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.book h3 {
 margin-top: 3rem; 
}

.book .button {
  display: flex;
  border: var(--thin-border);
  font-family: var(--nav-font);
  justify-content: center;
  padding: 12px 15px 5px;
  line-height: 1;
  margin-top: 1rem;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 1.5px;
  color: var(--secondary-color)
}

.book .button:hover{
  --secondary-color: black;
}


/* CONTACT */

.honeypot {
  position: absolute;
  left: -9999px;
}