@media screen and (max-width: 650px) {
  /* LAYOUT */
  body {
    display: flex;
    flex-flow: column;
  }

  .header {
    padding-bottom: 1rem;
  }

  ul.nav {
    display: flex;
  }

  ul.nav li.item {
    padding-right: 1rem;
    font-size: 1.1rem;
  }

  ul.nav li.subitem {
    margin-top: -1rem;
    margin-left: 0;
    flex-basis: 100%;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: inline-block;
  }

  .red {
    color: var(--secondary-color);
  }

  .landing .feature-img {
    max-width: 89vw;
  }
  .landing {
    height: 100%;
  }

  .content {
    padding: 0;
  }

  p, .content li {
    font-size: 1.5rem;
  }

  .about, .book {
    width: 90vw;
  }

  .about .photo-col, .book .photo-col {
    max-width: 95vw;
  }

  .about .photo-col, .book .photo-col {
    margin-right: 0;
    max-width: 95vw;
  }

  .profile {
    max-height: unset;
    max-width: 85vw;
  }

  .book h2 {
    padding: 1rem 0;
  }
}

@media screen and (max-width: 960px) {

  .about, .book {
    flex-direction: column;
  } 

  .contact .field {
    width: 100%; 
  }

}